<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<title>cart</title>
</head>
<body>
<h1>this is a cart</h1>
<div>
		<h1
			style="text-align: center; margin: 0 0 75px 0; color: lime; text-shadow: 0 5px 5px red; font-size: 50px;">Welcome
			To Library Management System</h1>
	</div>
	<div class="container">
		<nav class="navbar navbar-expand-md bg-primary navbar-dark">
			<a href="" class="navbar-brand"> <img
				th:src="@{/img/download (11).jpeg}" style="max-width: 50px;">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item"><a href="/"
						class="nav-link"><i class="fa fa-home" aria-hidden="true"></i></a></li>
					<li class="nav-item dropdown"><a href="#"
						class="nav-link dropdown-toggle btn btn-primary"
						data-toggle="dropdown">Options</a>
						<div class="dropdown-menu">
							<div sec:authorize="hasAuthority('ADMIN')">
								<a th:href="@{/addnewBook}" class="dropdown-item">Add Book</a> <a
									th:href="@{/addUsers}" class="dropdown-item">Add user</a> <a
									onclick="show1()" class="dropdown-item">Show Requested Book</a>
								<a onclick="show()" class="dropdown-item">Show Issued Book</a> <a
									th:href="@{/issueBook}" class="dropdown-item">Issue Book</a>
							</div>
							<div sec:authorize="hasAuthority('EMPLOYEE')">
								<a th:href="@{/requestBook}" class="dropdown-item">Request
									Book</a> <a
									th:href="@{/report/{bookname}(${#authentication.getPrincipal().getUsername()})}"
									class=dropdown-item>Show Book Report</a>
							</div>
						</div></li>
					<li class="nav-item"><a th:href="@{/cart.html}" href="/cart"
						class="nav-link"><i class="fa fa-shopping-cart"
							aria-hidden="true">Show Cart</i></a></li>
					<li class="nav-item">
						<form th:action="@{/logout}" class="form-inline" method="post">
							<input
								class="form-control mr-sm-2 justify-content-center btn btn-primary"
								type="submit" value="logout" />
						</form>
					</li>
					<!-- <li class="nav-item">
                        <form action="" class="form-inline" style="float: right;">
                            <input class="form-control mr-sm-2 justify-content-center" type="text"
                                placeholder="search" />
                        </form>
                    </li> -->
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<table class="table table-striped">
			<thead class="thead-dark bg-dark">
				<tr style="color: lawngreen;">
					<td>Order Id</td>
					<td>Product Id</td>
					<td>price</td>
					<td>Quantity</td>
					<td>Order date</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" theBook: ${singlecart}">
					<td th:text="${theBook.orderid}"></td>
					<td th:text="${theBook.productid}"></td>
					<td th:text="${theBook.price}"></td>
					<td th:text="${theBook.quantity}"></td>
					<td th:text="${theBook.order_date}"></td>
					<td>		
						<a th:href="@{/deletebyId/{theid}(theid=${theBook.orderid})}">Delete</a>
						<a th:href="@{/updateBook/{id}(id=${theBook.orderid})}">Update</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>