<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<title>Issue Book</title>
</head>
<body>
	<h1>Issue Book</h1>
	<div class="container">
		<form th:action="@{/issueBook}" method="post">
			<input th:type="text" th:field="${theissuedbook.bookName}" id="bookName" placeholder="Enter Book name">
			<input th:type="text" th:field="${theissuedbook.username}" id="username" placeholder="Enter User id">
			<input th:type="submit" value="Issue" class="btn btn-primary">
		</form>
	</div>
</body>
</html>